/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

/* Header container */
header {
  background-color: #ffffff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  padding: 1rem 2rem;
  background-color: rgba(43, 43, 43, 0.25);
  background-color: #1d2834;;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.about{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.logo{
  display: flex;
    flex-direction: row;
    align-items: center;  
    gap: 5px;
}